@charset "utf-8";
/* CSS Document */

body { background-color: #334152; font-family:Arial, Helvetica, sans-serif;}
		
.bigcontainer {
    position:fixed;
    width: 60%;
    z-index: 10000;
    height: 95%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -875px;
}

.slide-up { bottom: 0px !important; }

.slide-down { bottom: -875px !important; }

.rounded_corners {
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #ff6654;
    padding: 20px; 
    height: 10px;
}

.thumbnail{
	height: auto;
	width: auto;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-style:solid;
	border-width:4px;
}

.azul{ border-color:#2fc3cb; }
.verde{ border-color:#c7f04b; }
.negro{ 
	border-style:solid;
	border-width:2px;
	border-color:#000;
}
.bold {font-weight:bold;}

#image, #image2, #image3, #image4 {
	max-width: 100%;
	vertical-align: top;
	
}

.margen {margin-right:15px; width:200px; height:200px;}

.breakingnews{
	top:-200px; 
	position:absolute; 
	display:none; 
	font-size:12px;
	color:white;
		
}

div.rounded_corners a{ margin-right:10px; float:left; }

